<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <!--不支持老版本IE-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--device-width自适应移动端宽度，initial-scale=1不进行缩放-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>自动ssh脚本</title>
    <!-- Bootstrap 核心样式文件 -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h1>你好，世界！</h1>
<!-- jQuery CDN加速 -->
<script src="/jquery/jquery-3.3.1.min.js"></script>
<!---bootstrap的核心JS文件必须放在jQuery文件之后，因为bootstrap基于jQuery -->
<script src="/bootstrap/js/bootstrap.min.js"></script>
<!-----------------------------------------导航条设计开始--------------------------------->
<!--黑色导航条样式为navbar-inverse，白色样式为default  ， .navbar-fixed-top导航条固定在顶端-->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <!------button为实现响应式布局，如果在手机上查看，点击button就可以弹出菜单---->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">ShareGIS</a><!---方log的地方-->
        </div>

        <!-- 当浏览器小于某个值时，点击button图标显示导航条的内容（注意这里的id与button 的id对应）—>

       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
           <!--具体菜单项-->
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">首页 <span class="sr-only">(current)</span></a></li><!--普通菜单-->
            <li class="dropdown"><!--下拉菜单-->
                <a class="dropdown-toggle" href="#" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    技术博客
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu dropdowncolor" aria-labelledby="dropdownMenu1">
                    <li><a href="#">GIS</a></li><!--下拉菜单项-->
                    <li><a href="#">.NET基础</a></li>
                    <li><a href="#">Asp .NET MVC</a></li>
                    <li><a href="#">前端</a></li>
                </ul>
            </li>
            <li><a href="#">我的生活</a></li>
            <li><a href="#">教程</a></li>
            <li><a href="#">电脑小知识</a></li>
            <li><a href="#">留言板</a></li>
            <li><a href="#">关于我</a></li>
        </ul>
        <!--搜索表单-->
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn navbar-btn">搜索</button>
        </form>
        <!--导航栏右部，一般的登录 注册-->
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">登录</a></li>
            <li><a href="#">注册</a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!------------------------------------------导航条结束-------------------------------->
</body>
</html>